<h1>About Us</h1>


    <p>
      The website that is being developed for those who love the art film and the cinema which play the art film. The main functionality of the application is to allow the user to book the art film, comment the film and film news. 
      In addition, this website also have a "Film Furom". Users can post articles in the forum and reply to other people's articles.

    </p>