<% provide(:title, 'Area') %>
 
        <h1>Choose the area</h1>
        <p>
         You can choose the area/city here,and you can see the cinemas after that
        </p>
        <!-- <br /> <br /> Code highlighting produced by Actipro CodeHighlighter (freeware)<br /> http://www.CodeHighlighter.com/<br /> <br /> -->Which city is yours：<br/> 
<input type="radio" name="item" value="Waterford"/>Waterford 
<input type="radio" name="item" value="Dubiln"/>Dubiln 
<input type="radio" name="item" value="Cork"/>Cork 
<input type="radio" name="item" value="Nanjing"/>Nanjing 
<p>
        </p>
     <%= link_to "OK!", movies_path, class: "btn btn-lg btn-primary" %>