<h1>See your position</h1>
<div id="map">
  <div id="map"></div>


   <div style='width: 800px;'>
    <div id="geolocation" style='width: 800px; height: 400px;'>
<script type="text/javascript">
var handler = Gmaps.build('Google');
handler.buildMap({ internal: {id: 'geolocation'} }, function(){
  if(navigator.geolocation)
    navigator.geolocation.getCurrentPosition(displayOnMap);
});

function displayOnMap(position){
  var marker = handler.addMarker({
    lat: position.coords.latitude,
    lng: position.coords.longitude
  });
  handler.map.centerOn(marker);
};
</script>


</div>
</div>
 </div>
 |<%= link_to 'Choose the cinemas', cinema_path %>|
    