 <% provide(:title, 'Help') %>
 
        <h1>Help</h1>
        <p>
          If you have any need, you can contact us.
          
          If you want to know more comprehensive movie information, you can go to 
          <a href="http://railstutorial.org/book">IMDb</a>.
        </p>
     