<% provide(:title, 'Home') %>
    
      <h1>Welcome ! "Art Film Booking APP"</h1>
      

      


      
        <!--  CHANGED LINE -->
<strong>Click the picture to "Sign Up!"</strong>
    <%= link_to image_tag("qyqx.jpg", alt: "Film logo"),
                signup_path %>
                

                