<h1>Your Order</h1>


<% if @orders.empty? %>
<p>Your order is empty</p>
<% else%>
<br><br><br>

<% total = 0 %>
<strong>There is the films you booked:</strong>

<ul>
	<% @orders.each do |order|%>
<Li>

	<div class="field">


		<tr>
			<td><%= order.movie_title%></td>
			<td><%= order.user_id%></td>
		</tr>
	</div>
</Li>
<% end%>
</ul>
<% end%>





