@import "bootstrap-sprockets";
    @import "bootstrap";
    /* mixins, variables, etc. */

    $gray-medium-light: #eaeaea;

    @mixin box_sizing {
      -moz-box-sizing:    border-box;
      -webkit-box-sizing: border-box;
      box-sizing:         border-box;
    }

    /* universal */

    body {
      padding-top: 60px;
    }

    section {
      overflow: auto;
    }

    textarea {
      resize: vertical;
    }

    .center {
      text-align: center;
    }

    .center h1 {
      margin-bottom: 10px;
    }

    /* typography */

    h1, h2, h3, h4, h5, h6 {
      line-height: 1;
    }

    h1 {
      font-size: 3em;
      letter-spacing: -2px;
      margin-bottom: 30px;
      text-align: center;
    }

    h2 {
      font-size: 1.2em;
      letter-spacing: -1px;
      margin-bottom: 30px;
      text-align: center;
      font-weight: normal;
      color: #777;
    }

    p {
      font-size: 1.1em;
      line-height: 1.7em;
    }

    /* header */

    #logo {
      float: left;
      margin-right: 10px;
      
      font-size: 2.2em;
      color: #fff;
      text-transform: uppercase;
      letter-spacing: 1px;
      padding-top: 9px;
      font-weight: bold;
      
    }

    #logo:hover {
      color: #fff;
      text-decoration: none;

    }

    /* footer */

    footer {
      margin-top: 45px;
      padding-top: 5px;
      border-top: 1px solid #eaeaea;
      color: #777;
    }

    footer a {
      color: #555;
    }

    footer a:hover {
      color: #222;
    }

    footer small {
      float: left;
    }

    footer ul {
      float: right;
      list-style: none;
    }

    footer ul li {
      float: left;
      margin-left: 15px;
    }

    /* miscellaneous */

    .debug_dump {
      clear: both;
      float: left;
      width: 100%;
      margin-top: 45px;
      @include box_sizing;
    }

     /* sidebar */

    aside {
      section.user_info {
        margin-top: 20px;
      }
      section {
        padding: 10px 0;
        margin-top: 20px;
        &:first-child {
          border: 0;
          padding-top: 0;
        }
        span {
          display: block;
          margin-bottom: 3px;
          line-height: 1;
        }
        h1 {
          font-size: 1.4em;
          text-align: left;
          letter-spacing: -1px;
          margin-bottom: 3px;
          margin-top: 0px;
        }
      }
    }

    .gravatar {
      float: left;
      margin-right: 10px;
    }

    .gravatar_edit {
      margin-top: 15px;
    }

    /* forms */

    input, textarea, select, .uneditable-input {
      border: 1px solid #bbb;
      width: 100%;
      margin-bottom: 15px;
      @include box_sizing;
    }

    input {
      height: auto !important;
    }
    #error_explanation {
      color: red;
      ul {
        color: red;
        margin: 0 0 30px 0;
      }
    }

    .field_with_errors {
      @extend .has-error;
      .form-control {
        color: $state-danger-text;
      }
    }
    #posts {
  background: white;
  padding: 2em 5%;
  border-radius: .5em;
  .post {
    margin: 1em 0;
    padding: 1em 0;
    border-bottom: 1px solid #D1d1d1;
    .title {
      margin: 0;
      a {
        color: #397CAC;
        text-decoration: none;
        font-weight: 100;
        font-size: 1.25rem;
      }
    }
    .date {
      margin-top: .25rem;
      font-size: 0.9rem;
      color: #B2BAC2;
    }
  }
}

.button {
  color: #397CAC;
  border: 1px solid #397CAC;
  padding: .5em 1em;
  border-radius: 0.2em;
  text-decoration: none;
  margin-right: 2%;
}

#post_content {
  background: white;
  padding: 2em 5%;
  border-radius: .5em;
  h1 {
    font-weight: 100;
    font-size: 2em;
    color: #397CAC;
    margin-top: 0;
  }
  p {
    color: #B2BAC2;
    font-size: 0.9rem;
    font-weight: 100;
    line-height: 1.5;
  }
  #comments {
    .comment {
      border-bottom: 1px solid #d1d1d1;
      padding-bottom: 1em;
      margin-bottom: 1em;
      .content {
        width: 75%;
        float: left;
      }
      .buttons {
        width: 25%;
        float: left;
        font-size: .8em;
        text-align: right;
        padding-top: 1.5em;
        a {
          color: #397CAC;
          border: 1px solid #397CAC;
          padding: .5em 1em;
          border-radius: 0.2em;
          text-decoration: none;
          margin-right: 2%;
        }
      }
      .comment_content {
        margin: 0;
        padding: 0;
      }
      .comment_author {
        color: #397CAC;
        margin-top: .5rem;
        font-size: 0.6em;
        font-weight: 700;
      }
    }
    input[type="submit"] {
      background: #397CAC;
      border: none;
      color: white;
      font-weight: 100;
      padding: .5em 1em;
      border-radius: .2em;
    }
    textarea {
      width: 100%;
      min-height: 200px;
      border: 1px solid #d1d1d1;
      border-radius: .2em;
      margin: 1em 0;
    }
  }
}

.wrapper {
  width: 60%;
  max-width: 1140px;
  margin: 0 auto;
}

.clearfix:before, .clearfix:after {
  content: " ";
  display: table;
}

.clearfix:after {
  clear: both;
}


    